:root {
    --cdbutton-background: #bbbbbb;
    --cdbutton-shadow: #7c7c7c;
    --cdbutton-hover-shadow: #5d5d5d;
    --cdbutton-highlight: #e5e5e5;
    --cdbutton-hover-highlight: #f8f8f8;
    --cdmenu-background:#8b8b8b;
    --cdmenu-shadow: #626262;
    /* --cdmenu-highlight: #b1b1b1; */
  }

.canvasElement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    z-index: 1;
    border: 0;
    border-radius: 25px;
    gap: .5rem;
    box-shadow: inset -2px 3px 0px var(--cdmenu-highlight);
    background: var(--cdmenu-background);
}

.button {
    justify-content: center;
}

.topButtons{
    justify-content: right;
    padding: 1rem;
    align-items: right;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    margin: 0 auto;
    gap: .5rem;
    /* background-color: aquamarine; */
}

/*     // style={{
    //   justifyContent: "right",
    //   position: "absolute",
    //   alignItems: "right",
    //   top: "0px",
    //   right: "0px",
    //   padding:"10px",
    //   zIndex: "10000",
    //   // backgroundColor: "rgb(79, 78, 32)"
    // }} */
.topMenuButton{
    aspect-ratio: 1;
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--cdmenu-background);
}

.topMenuButton:hover{
    color: var(--cdmenu-shadow);
}

.cdMenuButton{
    box-shadow: inset -1px 2px 0px var(--cdbutton-highlight), 
                -1px 2px 0px var(--cdbutton-shadow);
    background: var(--cdbutton-background);
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    cursor: pointer;
}

.cdMenuButton:active{
    background: var(--cdbutton-shadow);
    box-shadow: inset -1px 2px 0px var(--cdbutton-hover-shadow), 
                -1px 2px 0px var(--cdbutton-background);
    /* transition: 0.3s; */
}