/* Elements in ScrollBar */

:root {
    --cd-highlight: #b7b3b1;
    --cd-shadow: #656565;
    --cd-background: #8a8787;

    --cdbutton-background: #bbbbbb;
    --cdbutton-shadow: #989898;
    --cdbutton-hover-shadow: #6f6f6f;
    --cdbutton-highlight: #e5e5e5;

    --UI-gray:#d4d4d4;
    --UI-darkgray: #c0c0c0;
  }
 
 section {
     display: flex;
     height: 10px;
     font-size: 16px;
     font-weight: bold;
     justify-content: space-between;
     align-items:center;
 }
 
 input[type=text] {
    padding-left: 32px;
    width: 100%;
    box-sizing: border-box;
    /* box-shadow: inset 1px -2px 0px var(--cdbutton-shadow);
    border: none;  */
    border-width:0px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../public/search-solid.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    position: relative;
    border-radius: 15px;
 }
 
  
 .searchBar{
    position: sticky;
    top: 0px;
    height: 40px;
    outline: none;
    border: 0;
    margin: 0;
    margin-bottom: 10px;
}

 .scrollElement{
    height: 90%;
    overflow-y: scroll;
    margin: 0 auto;
    gap: 1rem;
    /* background-color: var(--UI-gray); */
    background-color: white;
    border-radius: 15px;
    border: 10px solid white;
    color: black;
    display: list-item;
    text-align: center;
    scrollbar-width: 10px;
    -ms-overflow-style: none; 
 }


.scrollElement li {
    counter-increment: item;
    display: flex;
    align-items: center;
    /* background: var(--cd-shadow); */
    container-type: inline-size; 
    text-decoration: none; 
    text-align: right;
    align-items: right;
}

.listNumber{
    /* margin-right: 1rem; */
    /* Text resize */
    container-type: inline-size;
    display: list-item;
    margin-right: 1cqh;
    font-size: 4cqw;
    width: 3cqh;
    text-align: center;
    align-items: center;
    font-family: 'Helvetica', sans-serif, bold;
    color: #656565;
    /* padding-left: 2px; */
}

 
 /* Individual Album CSS */
 .albumStyle{
    color: black;
     width: 100%;
     aspect-ratio: 8 / 1;
     box-sizing: border-box;
     /* box-shadow: inset 0px 0px 0px 3px;     */
     text-align: center;
     display: flex;
     /* display: list-item; */
     position: relative;
     align-items: center;
     justify-content: space-between;
     padding-right: 3%;
     padding-left: 3%;
 
     position: relative;
     margin-bottom: .2rem;
 
     container-type: inline-size;
 
     /* Add border to each CD */
     /* border-right: 4px solid var(--cd-highlight); */
     /* border-top: 4px solid var(--cd-highlight); */
     /* border-left: 10px solid var(--cd-background); */
     border-bottom: 4px solid var(--cd-shadow);
     /* border-radius: .5rem; */
 }
 
 .albumText{
     text-align: center;
     position: relative;
     justify-content: center;
     gap: .5rem;
     height: 100%;
     width: 100%;
     align-items: center;
     resize: horizontal;
     padding-left: 2%;
     padding-right: 2%;

     /* Text resize */
     container-type: inline-size;
     display: flex;
     font-size: 4cqw;
 }
 
 .albumTitle{
     align-items: center;
     align-items: right;
     text-align: right;    
 }
 
 .albumArtist{
     align-items: left;
     text-align: left;
 }
 
 
 .scrollClass{
     height: "100vh";
     padding: 15px;
     padding-right:0px;
     gap: 20px;
     background: var(--UI-gray);
 }

 

 /* scene css */

.canvasElement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    z-index: 1;
    border: 0;
    border-radius: 25px;
    gap: .5rem;
    box-shadow: inset -2px 3px 0px var(--cdmenu-highlight);
    background: var(--UI-gray);
}

.albumNavButtons{
    justify-content: space-between;
    align-content: center;
    position: absolute;
    display: flex;
    top: 80%;
    padding: 10px;
    z-index: 1;
    background-color: var(--UI-gray);
}

.topButtons{
    justify-content: right;
    padding-top: 15px;
    padding-right: 15px;
    align-items: right;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    margin: 0 auto;
    gap: .5rem;
    background-color: none;
}

.topMenuButton{
    /* aspect-ratio: 1; */
    border: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--UI-gray);
    transition: 0.2s;
}

.topMenuButton:hover{
    color: var(--UI-darkgray);
}

.cdMenuButton{
    box-shadow: inset -1px 2px 0px var(--cdbutton-highlight), 
                -1px 2px 0px var(--cdbutton-shadow);
    background: var(--cdbutton-background);
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    cursor: pointer;
}

.cdMenuButton:active{
    background: var(--cdbutton-shadow);
    box-shadow: inset -1px 2px 0px var(--cdbutton-hover-shadow), 
                -1px 2px 0px var(--cdbutton-background);
}
