/* Elements in ScrollBar */

:root {
   --cd-highlight: #b7b3b1;
   --cd-shadow: #656565;
   --cd-background: #8a8787;
  }

section {
    display: flex;
    height: 10px;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    align-items:center;
    padding: .5rem;
}

.title {
    align-items: left;
    text-align: left;
}

.artist {
    align-items: right;
    text-align: right;
}

.searchBar{
    position: "sticky";
    top: "0px";
    height: "50px";
}


input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('magnifying-glass-placeholder.png');
    background-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

.scrollElement{
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    gap: 1rem;
}

.albumStyle{
    border: 5px solid;
    border-color: black;
    padding: 10px;
    border-right: 4px solid var(--cd-highlight);
    border-top: 4px solid var(--cd-highlight);
    border-left: 20px solid var(--cd-background);
    border-bottom: 4px solid var(--cd-shadow);
    border-radius: .5rem;
    box-shadow: inset 0px 0px 0px 3px; 
}

